
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../assets/gym.jpg);
    background-size: cover;
}

h1, h2 {
    display: flex;
    justify-content: center;
    background-color: grey;
    margin: 2px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid black;
}

button {
    width: 100px;
    margin: 10px;
    background-color: rgb(145, 173, 248);
}

.amounts {
    text-align: right;
    font-weight: bold;
}

.workouts{
    font-weight: bold;
}

.p {
    display: none;
}

data {
    display: grid;
    grid-area: repeat (4 1fr);
    margin: 50px; 
    
}

.box {
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    background-color: gray;
    transition: ease-in-out .5s;
    transform: scale3d(1.3, 1.3, 1.3);
    margin-top: 20px;
    border-radius: 5px;
}